*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
  
    
  }
  h1{
    font-weight: bolder;
  }
  a{
    text-decoration: none;
    color: #6f3db0;
    font-size: 13pt;
  }
  
  ul{
    margin: 0;
    padding: 0;
    
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 25px;
    padding: 0;
    font-weight: bold;
    color: #00b3d1;
  }
  /* header  aqui */
  .header {
    z-index: 2;
    display: flex;
    max-width: 100%;
    background-color: #6f3db0;
    flex-wrap: wrap;
    min-height: 120px;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: sticky;   
    top: 0; 
    flex-wrap: wrap;
    flex-grow: 1;
    
  }
  @media only screen and (max-width: 945px){
    .header{
      justify-content: center;
    }
  }
  .ShoppingCart{
    display: flex;
    position: relative;
  }
  .cartIcon{
    width: 28px;
  }
  .cartAmount{
    position: absolute;
    color: #6f3db0;
    background-color: white;  
    border-radius: 100px;
    font-size: 15pt;
    font-weight: bolder;
    padding: 1px 5px;
    bottom: -11px;
    left: -9px ;
  
  }
  .logo{
    max-width: 150px;
   cursor: pointer;
    margin: 0 80px;
    flex-shrink: 1;
  }
  
  
  .headerMenu{
    display: flex;
    margin: 0 80px;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  .headerMenu>*{
    cursor: pointer;
    transition: transform 500ms;
    
  }
  .headerMenu>*:hover{
    transform: translate(0, -5px);
    transition: transform 300ms;
  }
  /* headher termina aqui aqui */
/*hero aqui */
.galleryContainer{
  position: relative;
  margin: 0 auto;
  
}

.galleryWrapper{
  overflow-x: auto;
  overflow: hidden; /* Hide scrollbars */
  
}

.gallery{
  display: flex;
  flex-flow: row nowrap ;
}
.arrowRight,
.arrowLeft{
  position: absolute;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  color:#00000041;
  border: none;
  background: #ffffff00;
  padding: 20px;
  transition: color 300ms, transform 300ms;
  z-index: 1;
}

.arrowLeft:hover,.arrowRight:hover{
  color: rgb(0, 0, 0);
}


.arrowLeft{
  left: 0;
  right: auto;
} 

.item{
  width: 100vw;
  cursor: pointer;
}
/* hero termina aqui */
.sep{
  width: 100%;
  height: 10px;
  background-color: #6f3db0;

}


  /* a parte principal aqui */

.todosProdutosContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

@media only screen and (max-width: 600px){
  .todosProdutosContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.filtros{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.097);
    padding-left: 20px;
    
}

.filtrosTitle{
    color: #6f3db0;
    font-weight: 900;  
    font-size: 20pt;
    text-align: center;
    
}
.filtroCategoria{
    color: #6f3db0;
    margin-top: 20px;
    margin-bottom: 10px;
}
.filtrooption{
    margin: 3px 0px;
    font-weight: 500;
}
.main{

    margin: 0 auto;
}

.title{
    margin-top: 30px;
    color: white;
    background-color: #6f3db0;
    padding: 10px ;
    text-align: center;
}


/* principais produtos aqui */
.principais-produtos{
  border-radius: 10px;
    display: flex;
    background-color: #00b3d1;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .principais-produtos-title{
    color: white;
    padding-top: 15px;
  }
  

  .produto{
    margin: 10px 10px 50px ;
    position: relative;
    border-radius: 30px 30px 0px 0px;
    background-color:#6f3db03f;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: background-color 400ms;
  }
  .produto img{
    width: 300px;
    
  }
  
  .produto-desc{
   width: 300px;
    position: absolute;
    top: 169px;
    background-color: white;
    height:130px;
    padding-left: 8px;
  }
  .produto-nome{
    padding-top: 5px;
    color: #6f3db0;
    font-size: 20px;
    font-weight: 900;
    top: 10px;
  }
  .produto-valor{
    position: absolute;
    color: #00b3d1;
    font-size: 22px;
    font-weight: bold;
    bottom: 20px;
  
  }
  
  .produto:hover{
    background-color: #7e40f2;
  }
  
  .principais-produtos-container{
    overflow-x: auto;
    overflow: hidden;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap ;
    position: relative;
    display: flex;
    flex-shrink: 1;
  }


  .principais-produtos-todos:hover{
    background-color: white;
    color: #6f3db0;
  }
  .arrowLeft.cu,
  .arrowRight.cu{
    top: 25%;
  }
  
  /* principais produtos termina aqui */

 
  .footer {
    z-index: 1;
    display: flex;
    width: 100%;
    background-color: #6f3db0;
    flex-wrap: wrap;
    height: 90px;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: sticky;   
    top: 0; 
  }

  /* subSection aqui */

.subProduct{
  top:  30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6f3db0;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 300px;
}

.subProductIMG{
  width: 250px;
  height: 250px;
  background-color: rgb(240, 53, 53);
}

.subProductTxt{
  width: 350px;
  color: white;
}
.subProductIMGimg{
 
  max-width: 250px;
}
.subProductTxt h1{
  padding-bottom: 15px;
}
.subProductTxt h3{
  font-size: 15pt;
  padding-top: 50px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  .subProduct{
    flex-direction: column;
  }




}
/* subSection termina */

  /* última parte aqui */
.lastSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.lastSection h1{
  color: #00b3d1;
  font-size: 30pt;

}

.lastSection p{
  padding-top: 15px;
  font-size: 20pt;
  max-width: 710px;
  padding-bottom: 40px;
}
.mainText{
  display: flex;
  flex-direction: column;
}

.mainText img{
max-width: 400px;
padding-bottom: 100px;
}

@media only screen and (max-width: 600px){

  .mainText p{
    max-width: 400px;
    align-self: center;
  }
  .mainText img{
    max-width: 300px;
  }
  .lastSection h1{
    align-self: center;
    text-align: center;
  }

}

/* última parte termina aqui */