*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
  
    
  }
  h1{
    font-weight: bolder;
  }
  a{
    text-decoration: none;
    color: #6f3db0;
    font-size: 13pt;
  }
  
  ul{
    margin: 0;
    padding: 0;
    
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 25px;
    padding: 0;
    font-weight: bold;
    color: #00b3d1;
  }
  /* header  aqui */
  .header {
    z-index: 2;
    display: flex;
    max-width: 100%;
    background-color: #6f3db0;
    flex-wrap: wrap;
    min-height: 120px;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: sticky;   
    top: 0; 
    flex-wrap: wrap;
    flex-grow: 1;
    
  }
  @media only screen and (max-width: 945px){
    .header{
      justify-content: center;
    }
  }
  .ShoppingCart{
    display: flex;
    position: relative;
  }
  .cartIcon{
    width: 28px;
  }
  .cartAmount{
    position: absolute;
    color: #6f3db0;
    background-color: white;  
    border-radius: 100px;
    font-size: 15pt;
    font-weight: bolder;
    padding: 1px 5px;
    bottom: -11px;
    left: -9px ;
  
  }
  .logo{
    max-width: 150px;
   cursor: pointer;
    margin: 0 80px;
    flex-shrink: 1;
  }
  
  
  .headerMenu{
    display: flex;
    margin: 0 80px;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  .headerMenu>*{
    cursor: pointer;
    transition: transform 500ms;
    
  }
  .headerMenu>*:hover{
    transform: translate(0, -5px);
    transition: transform 300ms;
  }
  /* headher termina aqui aqui */

  /*hero aqui */
.galleryContainer{
    position: relative;
    margin: 0 auto;
    
  }
  
  .galleryWrapper{
    overflow-x: auto;
    overflow: hidden; /* Hide scrollbars */
    
  }
  
  .gallery{
    display: flex;
    flex-flow: row nowrap ;
  }
  .arrowRight,
  .arrowLeft{
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    color:#00000041;
    border: none;
    background: #ffffff00;
    padding: 20px;
    transition: color 300ms, transform 300ms;
    z-index: 1;
  }
  
  .arrowLeft:hover,.arrowRight:hover{
    color: rgb(0, 0, 0);
  }
  
  
  .arrowLeft{
    left: 0;
    right: auto;
  } 
  
  .item{
    width: 100vw;
    cursor: pointer;
  }

  .sep{
    width: 100%;
    height: 10px;
    background-color: #6f3db0;}
  /* hero termina aqui */

  /* a parte principal aqui */

.todosProdutosContainer{
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
}


.filtros{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    background-color: rgb(225, 225, 225);
    padding-left: 20px;
    
}

.filtrosTitle{
    color: #6f3db0;
    font-weight: 900;  
    font-size: 20pt;
    text-align: center;
    
}
.filtroCategoria{
    color: #6f3db0;
    margin-top: 20px;
    margin-bottom: 10px;
}
.filtrooption{
    margin: 3px 0px;
    font-weight: 500;
}
.main{
    margin: 0 auto;
}

.title{
    margin-top: 30px;
    color: white;
    background-color: #6f3db0;
    padding: 10px ;
    text-align: center;
}


/* principais produtos aqui */
.principais-produtos{
    display: flex;
    background-color: #00b3d1;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .principais-produtos-title{
    color: white;
    padding-top: 15px;
  }
  

  .produto{
    margin: 10px 10px 50px ;
    position: relative;
    border-radius: 30px 30px 0px 0px;
    background-color:#6f3db03f;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: background-color 400ms;
  }
  .produto img{
    width: 300px;
    
  }
  
  .produto-desc{
   width: 300px;
    position: absolute;
    top: 169px;
    background-color: white;
    height:130px;
    padding-left: 8px;
  }
  .produto-nome{
    padding-top: 5px;
    color: #6f3db0;
    font-size: 20px;
    font-weight: 900;
    top: 10px;
  }
  .produto-valor{
    position: absolute;
    color: #00b3d1;
    font-size: 22px;
    font-weight: bold;
    bottom: 20px;
  
  }
  
  .produto:hover{
    background-color: #7e40f2;
  }
  
  .principais-produtos-container{
    overflow-x: auto;
    overflow: hidden;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap ;
    position: relative;
    display: flex;
    flex-shrink: 1;
  }


  .principais-produtos-todos:hover{
    background-color: white;
    color: #6f3db0;
  }
  .arrowLeft.cu,
  .arrowRight.cu{
    top: 25%;
  }
  
  /* principais produtos termina aqui */

  /* tamanos dos protudos aqui */
.sizeDropdown {
    display: flex;
    visibility: hidden;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    flex-direction: row;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 300ms;
    
  }
  
  .sizeDropdown a {
    padding: 6.5px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #6f3db0;
    font-weight: 900;
    transition: all 200ms;
    font-size: 10pt;
  }
  
  .sizeDropdown a:hover {
    background-color: #6f3db0;
    color: white;
  }
  
  .produto:hover .sizeDropdown {
    visibility: visible;
    opacity: 0.9;
  }
  .size{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  
  }
  .sizeBtn{
    background: #ffffff00;
    border: none;
    color: #00b3d1;
    font-size: 15pt;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 300ms;
  
  }
  .sizeBtn:hover{
    background-color: #6f3db0;
    border-radius: 200px;
    padding: 0px 6px;
  }
  /* tamanos dos protudos termina aqui */
  .footer {
    z-index: 1;
    display: flex;
    width: 100%;
    background-color: #6f3db0;
    flex-wrap: wrap;
    height: 90px;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: sticky;   
    top: 0; 
  }